praxis_ai_blueprint_tier1a.json
{
  "name": "Praxis AI - Tier 1A Playbook Delivery",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "REPLACE_WITH_YOUR_STRIPE_WEBHOOK_HOOK_ID",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "data": { "editable": "true" },
              "label": "Praxis-Stripe-Tier1A-inbound"
            }
          }
        },
        "parameters": [
          { "name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true },
          { "name": "maxResults", "type": "number", "label": "Maximum number of results" }
        ]
      }
    },
    {
      "id": 2,
      "module": "util:SetVariable2",
      "version": 1,
      "parameters": {},
      "mapper": {
        "name": "customer_email",
        "scope": "roundtrip",
        "value": "{{1.data.object.customer_details.email}}"
      },
      "metadata": {
        "designer": { "x": 300, "y": 0 },
        "restore": {
          "expect": { "scope": { "label": "One cycle" } }
        },
        "expect": [
          { "name": "name", "type": "text", "label": "Variable name", "required": true },
          { "name": "scope", "type": "select", "label": "Variable lifetime", "required": true },
          { "name": "value", "type": "any", "label": "Variable value" }
        ],
        "interface": [
          { "name": "customer_email", "type": "any", "label": "customer_email" }
        ]
      }
    },
    {
      "id": 3,
      "module": "google-sheets:searchRows",
      "version": 1,
      "parameters": {
        "__IMTCONN__": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CONNECTION_ID"
      },
      "mapper": {
        "spreadsheetId": "REPLACE_WITH_YOUR_GOOGLE_SHEET_ID",
        "sheetId": "Diagnostic Results",
        "filter": {
          "conditions": [
            {
              "a": "{{1.email}}",
              "b": "{{2.customer_email}}",
              "o": "text:equal"
            }
          ],
          "operator": "AND"
        },
        "limit": 1
      },
      "metadata": {
        "designer": { "x": 600, "y": 0 },
        "notes": "Looks up the client's diagnostic data from your Google Sheet using their email address. The sheet must have a column named 'email' and columns for all diagnostic fields (business_name, industry, dim1_score through dim6_score, etc.)."
      }
    },
    {
      "id": 4,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "authenticationType": "noAuth",
        "tlsType": "",
        "proxyKeychain": ""
      },
      "mapper": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "post",
        "headers": [
          { "name": "x-api-key", "value": "REPLACE_WITH_YOUR_ANTHROPIC_API_KEY" },
          { "name": "anthropic-version", "value": "2023-06-01" },
          { "name": "content-type", "value": "application/json" }
        ],
        "contentType": "json",
        "parseResponse": true,
        "stopOnHttpError": true,
        "timeout": "300",
        "allowRedirects": true,
        "shareCookies": false,
        "requestCompressedContent": true,
        "inputMethod": "jsonString",
        "jsonStringBodyContent": "{\"model\": \"claude-opus-4-5\", \"max_tokens\": 16000, \"temperature\": 0.4, \"system\": \"REPLACE_WITH_FULL_CONTENT_OF_claude-prompt-operational-playbook.md\", \"messages\": [{\"role\": \"user\", \"content\": \"{\\\"business_name\\\": \\\"{{3.business_name}}\\\", \\\"industry\\\": \\\"{{3.industry}}\\\", \\\"revenue_band\\\": \\\"{{3.revenue_band}}\\\", \\\"staff_count\\\": {{3.staff_count}}, \\\"years_operating\\\": \\\"{{3.years_operating}}\\\", \\\"report_date\\\": \\\"{{formatDate(now; \\\"D MMMM YYYY\\\")}}\\\", \\\"scores\\\": {\\\"process\\\": {{3.dim1_score}}, \\\"people\\\": {{3.dim2_score}}, \\\"tech\\\": {{3.dim3_score}}, \\\"strategy\\\": {{3.dim4_score}}, \\\"data\\\": {{3.dim5_score}}, \\\"scalability\\\": {{3.dim6_score}}}, \\\"priority_gaps\\\": [{\\\"dimension\\\": \\\"{{3.upsell_1_title}}\\\", \\\"summary\\\": \\\"{{3.upsell_1_desc}}\\\", \\\"score\\\": {{3.upsell_1_score}}}, {\\\"dimension\\\": \\\"{{3.upsell_2_title}}\\\", \\\"summary\\\": \\\"{{3.upsell_2_desc}}\\\", \\\"score\\\": {{3.upsell_2_score}}}]}\"}]}"
      },
      "metadata": {
        "designer": { "x": 900, "y": 0 },
        "notes": "Calls Claude with the client's diagnostic data. The system prompt instructs Claude to return a single JSON object with two keys: 'playbook_content' and 'diagnostic_upsell_content'. The user message is constructed from the Google Sheets row data."
      }
    },
    {
      "id": 5,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "json": "{{4.data.content[].text}}"
      },
      "metadata": {
        "designer": { "x": 1200, "y": 0 },
        "notes": "Parses the raw JSON string returned by Claude into a structured object. After importing this blueprint, you will need to click 'Re-determine data structure' on this module so Make.com can map all the fields."
      }
    },
    {
      "id": 6,
      "module": "http:MakeRequest",
      "version": 4,
      "parameters": {
        "authenticationType": "noAuth",
        "tlsType": "",
        "proxyKeychain": ""
      },
      "mapper": {
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "method": "post",
        "headers": [
          { "name": "Authorization", "value": "Basic {{base64(\"api:REPLACE_WITH_YOUR_PDFSHIFT_API_KEY\")}}" }
        ],
        "contentType": "json",
        "parseResponse": false,
        "stopOnHttpError": true,
        "timeout": "300",
        "allowRedirects": true,
        "shareCookies": false,
        "requestCompressedContent": true,
        "inputMethod": "jsonString",
        "jsonStringBodyContent": "{\"source\": \"https://joshchakoush.github.io/praxis-report-template/templates/operational-playbook-template.html\", \"variables\": {{5.playbook_content}}, \"landscape\": false, \"use_print\": true, \"format\": \"A4\"}"
      },
      "metadata": {
        "designer": { "x": 1500, "y": 0 },
        "notes": "Fetches the playbook HTML template from GitHub Pages and injects the Claude-generated content into the {{placeholder}} variables. Returns a rendered PDF binary. The 'variables' field passes the entire playbook_content JSON object from Claude."
      }
    },
    {
      "id": 7,
      "module": "google-email:sendAnEmail",
      "version": 4,
      "parameters": {
        "__IMTCONN__": "REPLACE_WITH_YOUR_GMAIL_CONNECTION_ID"
      },
      "mapper": {
        "to": ["{{2.customer_email}}"],
        "subject": "Your Personalised Operational Playbook is Ready — {{3.business_name}}",
        "bodyType": "rawHtml",
        "attachments": [
          {
            "filename": "Praxis-AI-Operational-Playbook-{{3.business_name}}.pdf",
            "data": "{{6.data}}"
          }
        ],
        "content": "<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto; background: #ffffff;\">\n  <div style=\"background: #1a1a2e; padding: 28px 36px; text-align: center;\">\n    <p style=\"font-family: Georgia, serif; font-size: 16px; font-weight: bold; color: #4bb4a5; letter-spacing: 0.1em; text-transform: uppercase; margin: 0;\">Praxis <span style=\"color: #ffffff;\">AI</span></p>\n  </div>\n  <div style=\"padding: 36px 36px 28px;\">\n    <p style=\"font-size: 15px; color: #2d2d2d; margin-bottom: 16px;\">Hi {{1.data.object.customer_details.name}},</p>\n    <p style=\"font-size: 15px; color: #2d2d2d; margin-bottom: 16px;\">Your personalised <strong>90-Day Operational Improvement Roadmap</strong> for <strong>{{3.business_name}}</strong> is attached.</p>\n    <p style=\"font-size: 14px; color: #4a4a4a; margin-bottom: 16px;\">This playbook is built directly from your diagnostic results. It covers your two highest-priority gaps with specific, phased actions you can start implementing this week.</p>\n    <p style=\"font-size: 14px; color: #4a4a4a; margin-bottom: 24px;\">We recommend beginning with Phase 1 (Days 1-30) and assigning an owner to each action before your next team meeting.</p>\n    <div style=\"background: #e8f7f5; border-left: 4px solid #4bb4a5; padding: 14px 18px; margin-bottom: 24px;\">\n      <p style=\"font-size: 13px; color: #1a1a2e; margin: 0;\"><strong>Quick tip:</strong> Print the KPI Tracker on page 6 and post it somewhere visible. Teams that track their metrics weekly are 3x more likely to hit their 90-day targets.</p>\n    </div>\n    <p style=\"font-size: 14px; color: #4a4a4a;\">If you have any questions about your playbook, simply reply to this email.</p>\n    <p style=\"font-size: 14px; color: #2d2d2d; margin-top: 24px;\">Best regards,<br><strong>The Praxis AI Team</strong></p>\n  </div>\n  <div style=\"background: #f9fafb; border-top: 1px solid #e5e7eb; padding: 16px 36px; text-align: center;\">\n    <p style=\"font-size: 11px; color: #9ca3af; margin: 0;\">This report is for informational purposes only and does not constitute professional advice. &copy; 2026 Praxis AI.</p>\n  </div>\n</div>"
      },
      "metadata": {
        "designer": { "x": 1800, "y": 0 },
        "restore": {
          "parameters": {
            "__IMTCONN__": {
              "label": "My Gmail connection (joshchakoush@gmail.com)",
              "data": { "scoped": "true", "connection": "google-email" }
            }
          },
          "expect": {
            "to": { "mode": "chose", "items": [null] },
            "bodyType": { "label": "Raw HTML" },
            "attachments": { "mode": "chose", "items": [null] }
          }
        },
        "parameters": [
          { "name": "__IMTCONN__", "type": "account:google-email", "label": "Connection", "required": true }
        ]
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us2.make.com",
    "notes": [
      {
        "note": "SETUP CHECKLIST — Replace all REPLACE_WITH_... placeholders before activating:\n1. Module 1 (Webhook): Create a new Custom Webhook in Make.com named 'Praxis-Stripe-Tier1A-inbound'. Copy its hook ID here.\n2. Module 3 (Google Sheets): Use the same Google Sheets connection as your diagnostic scenario. Set the spreadsheet ID and sheet name to match your existing Diagnostic Results sheet.\n3. Module 4 (Claude): Replace REPLACE_WITH_YOUR_ANTHROPIC_API_KEY with your Anthropic API key. Paste the full content of claude-prompt-operational-playbook.md into the system prompt field.\n4. Module 5 (Parse JSON): After importing, click 'Re-determine data structure' to map Claude's output fields.\n5. Module 6 (PDFShift): Use the same PDFShift API key as your diagnostic scenario.\n6. Module 7 (Gmail): Use the same Gmail connection as your diagnostic scenario (joshchakoush@gmail.com).\n7. Stripe: Configure a webhook in Stripe pointing to the URL from Module 1, listening for 'checkout.session.completed' events."
      }
    ]
  }
}
